*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  /* height: 130%; */
  width: 100%;
 background-color: #191D28;
 color: #fff;
 padding: 15px 20px;
 font-family: 'Oswald', sans-serif;
}

#nav{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo img{
  height: 45px;
}


.filters{
  display: flex;
  gap:20px;
  justify-content: center;
  align-items: center;
}

.filterIC{
  background-color: #2E3241;
  padding: 7px 20px;
  border-radius: 10px;
}


.mode{
  display: flex;
  gap:20px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.timer{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: solid 3px #D6D6D6;
 position: relative;

}
.timer p{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.telegram{
  background-color: #3DC6C1;
  padding: 7px 25px;
  border-radius: 10px;
}
.telegram img{
  height: 15px;

}

.dark-light{
  height: 32px;
  width: 60px;
  background-color: #2E3241;
  border-radius: 20px;
}

.best-price-to-trade{
  color: #818389;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 3px 0;

}
.best-price-to-trade p{
  font-size: 30px;
  font-weight: 300;
}

#counts{
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding:0 30px;
 
}
.count{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count h1{
  color: #3DC6C1;
  font-weight: 400;
  font-size: 40px;
}
.count p{
  color: #818389;
  font-size: 20px;
}
#counts .three h1{
  font-size: 78px;
  color:#fff;
}
#counts .three p{
  font-size: 17px;
  margin-top: 5px;

}
#data{
  margin: 50px 0;
  display: flex;
  flex-direction: column;
}

.table_head{
color: #818389;
font-size: 25px;
}

.data_row td{
  background-color: #2E3241;
  border-collapse: collapse;
  text-align: center;
  border: none;
}
.data_row{
  background-color: #2E3241;
  border-radius: 10px;
}

td:first-child{
  border-radius: 10px 0 0 10px;
}

td:last-child{
  border-radius: 0 10px 10px 0;
}
table{
  border-collapse:seprate ;
  border-spacing: 0 15px;
}
td{
  font-size: 25px;
  padding:10px;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2E3241;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #3DC6C1;
  -webkit-transition: .4s;
  transition: .4s;
}



input:checked + .slider {
  background-color: #2E3241;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2E3241;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




@media screen and (max-width: 1000px) {
  #nav{ 
    padding: 50px 0;
    flex-direction: column;
    gap:50px;
    margin-top: 20px;
  }
  .logo img{
    scale: 2.5;
  }
  .filters{
    scale: 1.5;
  }
  .mode{
    padding: 15px 0 0 0;
    scale:2;
  }
  #counts{
    scale:.7;
    gap:25px;
    justify-content: space-between;
  
  }
  .count{
    
  }
 
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #2E3241;
  padding: 20px 0;
  color:#818389;
  font-size: 15px;
}
.foot{
  display: flex;
  align-items: center;
  gap:20px;
}